.AddFilm {
    display: flex;
    justify-content: center;
}

.AddFilm div {
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 25px 40px;
    background-color: #eee;
    box-shadow: 3px 3px 10px #666;
    border-radius: 10px;
}

.AddFilm h2 {
    text-align: center;
    padding: 15px 0;
}

.AddFilm div input {
    display: flex;
    margin: 5px 0 10px;
}

.AddFilm div button {
    border-radius: 10px;
    margin: 10px 0;
    width: 100%;
    background-color: #172263;
    font-size: 18px;
    display: flex;
}

.AddFilm div button:hover {
    cursor: pointer;
    background-color: #061152;
}

.AddFilm div button a {
    width: 100%;
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 10px 10px;
}
