.EditShowing {
    display: flex;
    justify-content: center;
}

.EditShowing > div {
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 25px 40px;
    background-color: #eee;
    box-shadow: 3px 3px 10px #666;
    border-radius: 10px;
}

.EditShowing div > a {
    color: black;
    font-size: 30px;
}

.EditShowing h2 {
    text-align: center;
    padding: 0 0 30px;
}

.EditShowing div input {
    display: flex;
    margin: 5px 0 10px;
}

.EditShowing div button {
    border-radius: 10px;
    margin: 10px 0;
    width: 100%;
    background-color: #172263;
    font-size: 18px;
    width: 100%;
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 10px 10px;
    text-align: center;
}

.EditShowing div button:hover {
    cursor: pointer;
    background-color: #061152;
}
