.Showing {
  display: flex;
  justify-content: space-between;
}

.Showing .Film {
  flex-grow: 2;
}

.Showing .showingHours {
  flex-grow: 2;
  display: flex;
  flex-wrap: wrap;
}
.showingHours p {
  padding: 0.2rem;
}
